/*.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
   align-items: center; 
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 300px !important;
}*/


:root {
  
    --secondary-color: #00b4d5;
    --tertiary-color: #0077b6;
    --yellow-color: #ffb900;
    --gray-color: #808080;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.container {
    /*background-color: var(--primary-color);
    min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
    padding: 45px;
    margin: 15px 0;
    width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "images info"
    "images description";
    grid-gap: 35px;
}

.boxes .images {
    grid-area: images;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "active active active"
    "idle idle idle";
    grid-gap: 5px;
}

.boxes .images .img-holder img {
    width: 60%;
    display: block;
    border-radius: 10px;
    margin-left: 50px;
    position: relative;
    top: 80px;
}

.boxes .images .img-holder.active {
    grid-area: active;
}

.boxes .images .img-holder:not(.active):hover {
    opacity: 0.95;
    cursor: pointer;
}

.boxes .basic-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxes .basic-info .rate {
    color: var(--yellow-color);
}

@media (max-width: 768px) {
    .boxes {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
        "images"
        "info"
        "description";
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .boxes .images {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto 1fr;
      grid-template-areas: 
        "active"
        "idle";
    }
  
    .boxes .images .img-holder img {
      width: 100%;
      margin-left: 0;
      top: 0;
    }
  
    .boxes .basic-info {
      padding: 15px;
    }
  }


/*.box .basic-info span {
    font-weight: 800;
    font-size: 25px;
}*/

/*.box .basic-info .options a {
    color: white;
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
}

.box .basic-info .options a:hover {
    background-color: var(--tertiary-color);
}*/

/*.box .description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 25px;
}*/

/*.box .description p {
    color: var(--gray-color);
    font-size: 14px;
    line-height: 1.5;
}*/

/*.box .description .features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--gray-color);
}

.box .description .features i {
    margin-right: 5px;
}

.box .description .features .fa-circle-check {
    color: var(--tertiary-color);
}

.box .description .features .fa-circle-xmark {
    color: var(--yellow-color);
}

.box .description .social {
    list-style: none;
    display: flex;
}

.box .description .social a {
    margin-right: 15px;
    color: var(--gray-color);
}

.box .description .social a:hover {
    color: var(--secondary-color);
}*/

@media (max-width: 991px) {
    .box {
        width: 750px;
        grid-template-areas: 
        "info info"
        "images description";
    }
    .box .basic-info .options a {
        padding: 8.5px 12px;
    }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
    .box .basic-info span {
        position: absolute;
        align-self: flex-end;
    }
    .box .basic-info .options {
        position: absolute;
        align-self: flex-end;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .box {
        width: 600px;
        grid-template-areas: 
        "images info"
        "description description";
    }
    .box .images {
        gap: 3px;
    }
    .box .images .img-holder img {
        border-radius: 5px;
    }
}

@media (max-width: 640px) {
    .box {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        padding: 35px;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "images"
        "info"
        "description";
    }
}

